<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="isAuth">Mon profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <button ion-button (click)="goToLoginPage()" position="middle" color="light" *ngIf="!isAuth">Se connecter</button>

    <ion-list *ngIf="isAuth">
      <ion-item>
        <ion-img></ion-img>
      </ion-item>

      <ion-item>
        <ion-label>Nom:</ion-label>
        <ion-input [(ngModel)]="user.nom" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Prénom:</ion-label>
        <ion-input [(ngModel)]="user.prenom" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Pseudo:</ion-label>
        <ion-input [(ngModel)]="user.pseudo" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tél:</ion-label>
        <ion-input [(ngModel)]="user.tel" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="user.email" [readonly]="true"></ion-input>
      </ion-item>

      <div *ngIf="emailNonVerifie">
        <button ion-button small  color="danger">
          Adresse email non confirmé
      </button>
      <a (click)="sendEmailVerification()">Renvoyer un mail de vérification</a>
      </div>


      <ion-item *ngIf="!user.googleConnect" >
        <button ion-button (click)="editerProfil(user)">
          <ion-icon name="settings" ></ion-icon> &nbsp; Editer
        </button>
      </ion-item>

    </ion-list>
  </ion-content>
  <ion-footer>
    <button ion-button *ngIf="isAuth" (click)="doLogout()">
      <ion-icon name="power"></ion-icon> &nbsp; Déconnexion
    </button>
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
