<ion-menu [content]="content">

  <ion-header>

    <ion-toolbar>
      <ion-title>Utilisateur</ion-title>
      <ion-icon name="contact"></ion-icon>
    </ion-toolbar>

  </ion-header>

  <ion-content padding>

    <ion-list>
        <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
            {{ p.title }}
          </button>
    </ion-list>

    <button *ngIf="connected" color="light">Se déconnecter</button>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>