<ion-header>

  <ion-navbar>
    <ion-title *ngIf="newUser">Enregistrement</ion-title>
    <ion-title *ngIf="!newUser">Mise à jour</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="newUser? saveUser(user, true):saveUser(user,false)" [formGroup]="signupForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Nom:</ion-label>
        <ion-input type="text" [(ngModel)]="user.nom" formControlName="nom"></ion-input>
      </ion-item>
      <div ngxErrors="nom" #nomErrors="ngxErrors" color="danger">
        <div [ngxError]="['minlength','required']" [when]="['touched', 'dirty']">Veuillez saisir votre nom</div>
      </div>

      <ion-item [ngClass]="{ invalid: prenomErrors.hasError('*', ['touched', 'dirty']) }">
        <ion-label floating>Prénom:</ion-label>
        <ion-input type="text" [(ngModel)]="user.prenom" formControlName="prenom"></ion-input>
      </ion-item>
      <div ngxErrors="prenom" #prenomErrors="ngxErrors" color="danger">
        <div [ngxError]="['minlength','required']" [when]="['touched', 'dirty']">Veuillez saisir votre prénom</div>
      </div>


      <ion-item [ngClass]="{ invalid: pseudoErrors.hasError('*', ['touched', 'dirty']) }">
        <ion-label floating>Pseudo:</ion-label>
        <ion-input type="text" [(ngModel)]="user.pseudo" formControlName="pseudo"></ion-input>
      </ion-item>
      <div ngxErrors="pseudo" #pseudoErrors="ngxErrors" color="danger">
        <div [ngxError]="['minlength','required']" [when]="['touched', 'dirty']">Pseudo requis</div>
      </div>


      <ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
        <ion-label floating>Email:</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" formControlName="email"></ion-input>
      </ion-item>
      <div ngxErrors="email" #emailErrors="ngxErrors" color="danger">
        <div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']">Veuillez entrer une adresse Email valide</div>
      </div>

      <ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched', 'dirty']) }">
        <ion-label floating>Mot de passe:</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="user.mdp"></ion-input>
      </ion-item>
      <div ngxErrors="password" #passwordErrors="ngxErrors" color="danger">
        <div [ngxError]="['minlength', 'required']" [when]="['touched']">Le mot de passe doit contenir au moins 5
          caractères</div>
      </div>
      <div *ngIf="newUser" >
        <ion-item [ngClass]="{ invalid: confPasswordErrors.hasError('*', ['touched', 'dirty']) }">
          <ion-label floating>Confirmation:</ion-label>
          <ion-input type="password" [(ngModel)]="confPassword" formControlName="confPassword"></ion-input>
        </ion-item>
        <div ngxErrors="confPassword" #confPasswordErrors="ngxErrors" color="danger">
          <div [ngxError]="['minlength', 'required']" [when]="['touched']">Confirmation du mot de passe incorrecte</div>
        </div>

      </div>

    </ion-list>

    <div class="form-error">{{signupError}}</div>

    <button ion-button type="submit" [disabled]="!signupForm.valid">S'enregistrer</button>

  </form>

</ion-content>

<ion-footer>
  <div *ngIf="!newUser">
    <button ion-button (click)="modifierMdp()">Modifier le mot de passe</button>
  </div>
</ion-footer>
